/* =========================================================
   PAGE - LP（VC PLAN専用）
========================================================= */
.page-lp--vc-plan .site-header {
  display: none !important;
}

.page-lp--vc-plan .page-lp__hero-bg {
  background-image: url('../img/vc_plan/general_lp_vc_FV_pc.png');
  height: 100vh;
}

@media (max-width: 768px) {
  .page-lp--vc-plan .page-lp__hero-bg {
    background-image: url('../img/vc_plan/general_lp_vc_FV_sp.png');
    height: 140vh;
  }
}
